# ================================
# Web 框架与运行时
# ================================
fastapi         == 0.115.12     # 异步 Web 框架
uvicorn         == 0.34.2       # ASGI 服务运行器

# ================================
# 数据模型与验证
# ================================
pydantic        == 2.11.4       # 数据校验与模型定义

# ================================
# 网络请求与通信
# ================================
httpx           == 0.28.1       # 异步 HTTP 客户端
httpcore        == 1.0.9        # HTTPX 底层核心库
idna            == 3.10         # 国际化域名解析
anyio           == 4.9.0        # 异步 I/O 库（支持 HTTPX）
certifi         == 2025.4.26    # 证书信任根（HTTPS 请求使用）

# ================================
# 环境配置
# ================================
dotenv          == 0.9.9        # 环境变量支持
python-dotenv   == 1.1.0        # 加载 .env 配置文件

# ================================
# 辅助工具
# ================================
cryptography    == 44.0.3       # 加密与签名支持
Faker           == 37.3.0       # 虚拟数据生成
loguru          == 0.7.3        # 结构化日志输出